.tags {
  margin: 0.5rem 0;
}

.tag {
  background: #eee;
  padding: 0.3rem 0.6rem;
  margin-right: 0.5rem;
  margin-top: 0.5rem;
  border-radius: 4px;
  display: inline-block;
  font-size: 0.8rem;
}
.card {
  background: white;
  padding: 1rem;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: transform 0.2s;
}

.card:hover {
  transform: scale(1.02);
}

.card img {
  width: 100%;
  border-radius: 6px;
}

.card h3 {
  margin: 0.5rem 0;
}

.card p {
  margin: 0px;
  font-size: 0.8rem;
  color: var(--grey-text);
}

.genre-container {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin: 8px 0;
}
.genre-badge {
  background: #f0f0f0;
  border-radius: 12px;
  padding: 4px 10px;
  font-size: 0.85rem;
  color: #333;
}

.updatedText {
  font-size: 0.8rem;
  color: var(--grey-text);
}
